   /* Base Styles */
   body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #222;
}

/* Sea Blue Box Starts Here  */
.container {
    background-color: rgb(32, 100, 145);
    border: 0;

}

.owners {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: translateY(-160px);
    font-size: 2rem;
    text-shadow:
        1px 1px 0px black,
        /* Stroke effect on the top-right */
        -2px -1px 0px black,
        /* Stroke effect on the bottom-left */
        1px -1px 0px black,
        /* Stroke effect on the top-left */
        -1px 1px 0px black;
    /* Stroke effect on the bottom-right */
}

/*Title Introduction starts here*/
.center-title {
    text-align: center;
    margin-right: auto;
    font-size: 10rem;
    color: white;
    font-family: bold sans-serif;
    transform: translateY(300px);
}

.heading1 {
    margin-left: 600px;
    transform: translateY(110px);
    color: white;
    font-family: Helvetica;
    font-size: 3rem;

}

.heading2 {
    margin-left: 1600px;
    color: white;
    font-family: Helvetica;
    font-size: 3rem;
}

.heading3 {
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-size: 4rem;
}

/*Search Bar*/
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.2em;
    background-color: #0077cc;
    color: rgb(0, 0, 0);
    flex-wrap: nowrap;
    white-space: nowrap;
}


.search-bar {
    padding: 0.4em 0.8em;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 0.95em;
    width: 60%;
    max-width: 300px;
}

.about {
    font-weight: 600;
    margin-left: 1em;
}

/*Alignment for Bullet Listed Items Starts Here*/
.warnings {
    margin-left: 1450px;
    transform: translateY(230px);
}

.location {
    margin-left: 1450px;
    transform: translateY(-900px);
}

.locationTitle {
    font-size: 4rem;
}

.warningTitle {
    font-size: 3rem;
}

/*Danger Header*/
.dangerHeader {
    margin-left: 600px;
    transform: translatey(500px);
}

/*Image alignment begins here*/
.wildfireimage {
    margin-left: 300px;
    margin-top: 30px;
    transform: translateY(500px);
    box-shadow: -80px 50px 15px rgba(0, 0, 0, 0.3);
    outline: 5px solid black;
}


/*Paragraph Alignment Starts here*/
p {
    text-indent: 50px;
}

/*Sticky Navbar*/
.navbar {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #4da6ff, #0099cc);
    padding: 1em 1.6em;
    border-top: 2px solid white;
    color: white;
    text-align: center;
    z-index: 1000;
    /* keeps it on top */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 1000px 20px;
    /* Just to create scroll */
}

/* Footer with Socials */

footer {
    background-color: #1471bd
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons {
    display: flex;
    justify-content: center;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i {
    font-size: 2rem;
    color: #000000

}

/* Hover Effect for Social Icons */
.socialicons a:hover {
    background-color: #000000;
    transition: 0.5s;
    /* Error here, can get rid of as opacity is not working */
}

.socialicons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: rgb(24, 15, 143);
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;

    @media(max-width: 700px) {
        .footerNav ul {
            flex-direction: column;
        }

        .footerNav ul li {
            width: 100%;
            text-align: center;
            margin: 10px;

        }
    }
}
p {
font-weight: 700; /*bold */
}